@model RunetSoftTest.Models.UserLogin

@{
    ViewBag.Title = "Вход на портал";
}

<h2>Добро пожаловать!</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    if (Convert.ToBoolean(ViewBag.Status))
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
    else
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }

        <div class="form-horizontal">
            <h4>Введите логин и пароль для авторизации</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsRememberMeRequested, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsRememberMeRequested)
                        @Html.ValidationMessageFor(model => model.IsRememberMeRequested, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Войти" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
}

<div>
    @Html.ActionLink("Зарегистрироваться", "Register")
    <br/>
    @Html.ActionLink("Восстановить пароль", "RestorePassword")
</div>
